/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="comp/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "app";
@charset "utf-8";

@import "foundation/foundation-global", "foundation/components/global", "foundation/components/buttons", "foundation/components/inline-lists";
@import "icon/*.png";
@include all-icon-sprites;

//LOCATION: april 


/* cssreset.com */
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	/* [disabled]font-style: inherit; */
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border-top: none #333;
	border-right: none #333;
	border-bottom: none #333;
	border-left: none #333;
}

/*==========  Variables  ==========*/
$siteWigth:960px;
$leftColumnWidth:222px;
$companyNameWidth:288px;
$colorBody:#D5E0EA;
$colorWrapper:#A1BAD0;
$colorFont:#333333;
$colorFooterFont:#304961;
$companyNameColor: #0055A5;
$primary-color: #396c95;
$bg:lighten(#396c95, 10%);
$colorRed: #E51937;
$contentBackgroundCollor: #FFF;
$main-font-size:  1em;
/*==========  Functions  ==========*/

@function contentColumnWidth($siteWigth, $leftColumnWidth) {
	@return  $siteWigth-$leftColumnWidth;
}
/*==========  Mixins  ==========*/

@mixin basicBoxStyle {
	width: 100%;
	overflow: auto;
	position: relative;
}


@mixin companyNameStyle ($anyColor){
	font-family: 'Noto Serif', serif;
	float: left;
	width: $companyNameWidth;
	font-size: 45px;
	letter-spacing: 2px;
	color: $anyColor;
	font-weight: bold;
	text-align: right;
	padding-right: 40px;
	line-height: 1.2em;
	text-shadow: $contentBackgroundCollor 1px 1px 0px;
}

@mixin headerPhoneNumberStyle{
	float: left;
	width: 575px;
	margin-left: 15px;
	position:relative;
	top:-5px;
	font-size:2.1em; 
	font-weight: bold;
	letter-spacing: 2px;
	color: $contentBackgroundCollor;
	text-shadow: lighten($primary-color, 10%) 1px 1px 0px;
}

@mixin firstLevelButton($anyColor){
	@include button($full-width:true);
	@include radius;
	@include single-transition;
	@include inset-shadow;
	@include button-style($anyColor);
	padding-left: 3px;
	margin-bottom: 5px;
	text-align:left;
}

@mixin secondLevelButton($anyColor){
	@include button($button-sml, $full-width:true);
	@include radius;
	@include single-transition;
	@include inset-shadow;
	@include button-style($anyColor);
	margin-bottom: 3px;
	text-align:left;
	padding-left: 10px;
	font-size: 14px;
}
@mixin contentFormatting($anyFontFamily:"Helvetica Neue,​ Arial,​ sans-serif", $anyBackgroundColor:$contentBackgroundCollor) {
	float: left;
	width: 755px;
	background-color: $anyBackgroundColor;
	border-top-left-radius: 70px;
	moz-border-top-left-radius: 70px;
	webkit-border-top-left-radius: 70px;
	padding: 20px 20px 20px 25px;
	position: relative;
	font-family: $anyFontFamily;
	font-size: 16px;
	font-weight: normal;
	line-height: 2em;
	color: $colorFont;
	min-height:940px;
}

@mixin sideBarFormatting {
	float: left;
	width: 200px;
	position: relative;
	padding: 5px;
	margin-top: 62px;
}

@mixin footerAddressFormat{
	text-align: center;	
	line-height: normal;
	font-weight: bold;
	font-size: 1.1em;
	float: right;
	color: $colorFooterFont;
	padding-top: 5px;
}

/*=outerWharrer starts here*/

body{
	color: $colorFont;
	background-color: $colorBody;
	font: 14px  "Trebuchet MS", Arial, Helvetica, sans-serif;
	@include background(image-url("map2_20.png"));
	@include background-size(1420px,783px);

}

#outerWrapper {
	@include box-sizing(content-box);
	margin: 0px auto;
	width: $siteWigth;
	background-color: $colorWrapper;
	margin-bottom: -40px;
}

/*=header starts here*/
#header {
	@include basicBoxStyle;;
}

#headerContent{
	overflow: auto;
	width: contentColumnWidth;
	float: right;
	margin-right: 5px;
}
#headerLogoContent{
	width: $leftColumnWidth;
	float: left;
	position: relative;
	display: block;
	margin-top: 5px;
}

#headerContentTop{
	@extend #header;

	#companyName{
		@include companyNameStyle ($companyNameColor);
	}
	
	#headerPicture{
		float: right;
		width: 435px;
		margin-top: 5px;
	}

}


#headerContentBottom{
	@extend #header;
	.icon{
		width:24px;
		float:right;
		margin-left:10px;
	}
	.icon-phone {
		float: left;
		background: image-url('icon-s15acc932ca.png');

		@include headerPhoneNumberStyle;
		width: 24px;
		height: 24px;
		margin-top: 8px;
	}

	#headerPhoneNumber {
		@include headerPhoneNumberStyle;
	}

	#headerHomeImg {
		float: left;
		width: 24px;
		padding-top: 5px;
		display: block;
	}
	#headerLetterImg {
		@extend #headerHomeImg;

		vertical-align: bottom;
		padding-right: 2px;
		padding-left: 10px;
	}
}


/*=sideBar starts here*/

#sideBar {
	@include sideBarFormatting;
}


.firstLevel {
	@include firstLevelButton($primary-color);
}

.secondLevel {
	@include secondLevelButton($bg);
}


.currentMenuElement{
	color:red;
}

/*=content starts here*/

#contentWrapper {
	@include basicBoxStyle;
	top: -40px;
	padding-right:5px;

	#content {
		@include contentFormatting;
		h1{
			font-size: 2.1em;
		}

		.disc{
			margin-left: 25px;

		}
		.shortSaleVSForeclosure{
			margin-left: 25px;

		}
		ol{
			margin-left: 25px;
			.square{

				margin-left: 25px;
			}
		}
	}
}



/*==========  =Short_Sale_Chicago  ==========*/


#shortSaleRealtors{
	display:block;
	line-height: 30px;
	text-align: center;
	word-spacing: 3px;
}

.welcome{
	text-align: center;
	font-size: 20px;
}

.homePageText{
	font-family: 'Verdana', serif;
	font-weight: bold;	
	font-size: 16px;
	margin-bottom: 20px;
}

.weCanHelp{
	line-height: 30px;
	@include label;
	font-size: 24px;
	margin-bottom: 20px;
	
}
.label{
	line-height: 30px;
	font-size: 24px;	
	margin-bottom: 0px;
}
#areasServed {
	font-size: 12px;
	line-height: 30px;
	text-align: justify;
	@include panel(lighten($colorBody, 5%) )
}


.avoidForeclosure{
	font-family: 'Playfair Display SC', serif;
	display:block;
	line-height: 2em;
	font-size: 20px;
	text-transform: uppercase;
	word-spacing: 4px;
	text-align: center;
	margin-bottom: 20px;

}
.callUsHome {
	@include alert-base;
	@include alert-style(lighten($primary-color, 40%));
	text-align:center;
	font-size: 25px;
	color: lighten(#C60F13, 10%);
	word-spacing: 4px;
	font-weight: bold;

}
.usBanks{
	width:407px;
	margin: 0 auto;
	h3{
		text-align: center;
	}
}

/*==========  vw-Debt_Relief_Act_2007 starts here  ==========*/


/*=footer starts here*/
#footer {
	width: 100%;
	background-color: $colorBody;
	padding-top: 10px;
	padding-bottom: 10px;

}
#footerContent{
	width: 960px;
	margin: 0em auto 0px;
	padding: 10px 20px;
	overflow: auto;
	background-color: $colorBody;
	border: 4px solid $colorWrapper;
}
#footerContentTop{
	@include basicBoxStyle;
	padding-bottom: 10px;
}
#footerContentBottom{
	@include basicBoxStyle;
	padding-top: 10px;
	border-top: 1px solid $colorWrapper;
}

#connectWithUs {
	float: left;
	width: 180px;
}


#footerAddress {
	@include footerAddressFormat;
	width: 150px;
	margin-left: 30px;
}
#footerPhoneNumbers {
	@include footerAddressFormat;
	width: 180px;

}
#footerLogo{
	float:left;
	width:150px;
}
#footerCompanyName {
	float: left;
	width: 250px;
	padding-left: 20px;
	font: 24px 'Special Elite', cursive;
	padding-top: 10px;
	color: $companyNameColor;
	text-shadow: $contentBackgroundCollor 1px 1px 0px;
}
#footerRights{
	float: right;
	width: 180px;
	padding-top: 10px;
	padding-left: 10px;
	text-align: right;
	font: italic bold 14px "Times New Roman", Times, serif;
	color: $colorFooterFont;
}



/*=contact-us-starts-here*/


.error {
	color:red;
	font-weight: bold;
	margin-left: 20px;

}

.thankYouMessage{
	font-size: 1.3em;
	line-height: 1.2em;
	color: green;
	height: 500px;
}

.contactUsContent {
	float: left;
	width: 755px;
	background-color: $contentBackgroundCollor;
	border-top-left-radius: 70px;
	moz-border-top-left-radius: 70px;
	webkit-border-top-left-radius: 70px;
	padding: 40px 20px 100px 25px;
	position: relative;
	font-family: 'Sanchez', serif;
	color: $colorFont;

	textarea{
		height: 300px;
		font-size:$main-font-size;
	}
	#submit {
		font-size:$main-font-size;
		margin-left: 14px;
	}
	input{
		margin-bottom: 20px;
	}
	label{
		font-size: $main-font-size;
	}
	fieldset{
		font-size: 16px;
	}

}




